<%= content_for(:title, t('.title')) %>

<section class="bg-[url('https://flowbite.s3.amazonaws.com/blocks/marketing-ui/authentication/background.jpg')] bg-no-repeat bg-cover bg-center bg-stone-700 bg-blend-multiply bg-opacity-60">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:py-16 pt:mt-0">
        <div class="w-full bg-white rounded-lg shadow md:mt-8 sm:max-w-md xl:p-0 dark:bg-stone-800">
            <div class="p-6 space-y-4 md:space-y-6 lg:space-y-8 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-center text-stone-900 md:text-2xl dark:text-white">
                    <%= t('.heading') %>
                </h1>
                <%= render 'form', user: User.new %>
                <p class="text-sm font-light text-center text-stone-500 dark:text-stone-300">
                    <%= link_to t('.link.sign_up'), sign_up_path, class: 'font-medium text-rose-600 hover:underline dark:text-rose-500' %>
                </p>
            </div>
        </div>
    </div>
</section>
