<div class="overflow-x-auto">
    <table class="w-full text-sm text-left text-stone-500 dark:text-stone-400">
        <%= render 'table_header' %>
        <%= render 'table_body' %>
    </table>
</div>
