<% content_for(:title, t('.title')) %>

<section class="bg-white dark:bg-stone-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16 md:h-screen">
        <h2 class="mb-4 text-xl font-bold text-stone-900 dark:text-white"><%= t('.heading') %></h2>
        <%= render 'form', balance: current_user.balances.new %>
    </div>
</section>
