<button type="button" class="hidden mr-2 lg:inline inline-flex items-center p-2 mr-1 text-sm font-medium text-stone-500 rounded-lg dark:text-stone-400 hover:bg-stone-50 focus:ring-4 focus:ring-stone-300 dark:hover:bg-stone-700 focus:outline-none dark:focus:ring-stone-800" data-controller="dark-mode" data-action="click->dark-mode#toggle">
    <%= icon('moon', class: 'hidden w-5 h-5 fill-current', data: { dark_mode_target: 'lightIcon' }) %>
    <%= icon('sun', class: 'hidden w-5 h-5 fill-current', data: { dark_mode_target: 'darkIcon' }) %>
</button>
