<div class="bg-white dark:bg-stone-800">
    <nav id="toggleMobileMenu" class="hidden bg-white w-full max-w-screen-xl mx-auto lg:bg-stone-50 lg:dark:bg-stone-800 dark:bg-stone-900 lg:block">
        <div class="px-0 lg:py-3 lg:px-6">
            <div class="flex items-center">
                <ul class="flex flex-col mt-0 w-full text-sm font-medium lg:mr-6 lg:flex-row">
                    <li class="block border-b dark:border-stone-700 lg:inline lg:border-b-0 lg:mr-8">
                        <%= active_link_to 'Home', root_path, class: 'block py-3 px-4 text-stone-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0', active_class: 'block py-3 px-4 text-rose-600 lg:py-0 dark:text-white lg:hover:underline lg:px-0' %>
                    </li>
                    <li class="block border-b dark:border-stone-700 lg:inline lg:border-b-0 lg:mr-8">
                        <a href="#" class="block py-3 px-4 text-stone-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0">Company</a>
                    </li>
                    <li class="block border-b dark:border-stone-700 lg:inline lg:border-b-0 lg:mr-8">
                        <a href="#" class="block py-3 px-4 text-stone-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0">Team</a>
                    </li>
                    <li class="block border-b dark:border-stone-700 lg:inline lg:border-b-0 lg:mr-8">
                        <a href="#" class="block py-3 px-4 text-stone-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0">Features</a>
                    </li>
                    <li class="block border-b dark:border-stone-700 lg:inline lg:border-b-0 lg:mr-8">
                        <a href="#" class="block py-3 px-4 text-stone-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0">Marketplace</a>
                    </li>
                    <li class="block border-b dark:border-stone-700 lg:inline lg:border-b-0 lg:mr-8">
                        <a href="#" class="block py-3 px-4 text-stone-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0">Resources</a>
                    </li>
                    <li class="block border-b dark:border-stone-700 lg:inline lg:border-b-0 lg:mr-8">
                        <a href="#" class="block py-3 px-4 text-stone-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0">Forum</a>
                    </li>
                    <li class="block lg:inline">
                        <a href="#" class="block py-3 px-4 text-stone-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0">Support</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
