<thead class="text-xs text-stone-700 uppercase bg-stone-50 dark:bg-stone-700 dark:text-stone-400">
    <tr>
        <th scope="col" class="px-4 py-3">
            <span class="sr-only">Expand/Colapse row</span>
        </th>
        <th scope="col" class="px-4 py-4">Reference</th>
        <th scope="col" class="px-4 py-3">Amount</th>
        <th scope="col" class="px-4 py-3">Bitcoin</th>
        <th scope="col" class="px-4 py-3">Ethereum</th>
        <th scope="col" class="px-4 py-3">Cardano</th>
        <th scope="col" class="px-4 py-3">
            <span class="sr-only">Actions</span>
        </th>
    </tr>
</thead>
