<%= link_to root_path, class: 'flex items-center' do %>
    <%= icon('coins', class: 'mr-3 h-6 sm:h-9 text-rose-500') %>
    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">DiverCoin</span>
<% end %>
